<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<div class="right-container">
            <header>
                <h1 class="logo">Logo</h1>
            </header>
            <h3 class="heading">Log in</h3>
            <form>
                <input type="email" placeholder="Email Address" id="EAdd-input">
                <input type="password" placeholder="Password" id="pswrd-input">
                <p id="frgtPswrd">Forgot password</p>
            </form>
                    
            <p>Don't have an account? <a href="signup.html">Sign up</a></p>
        </div>
    </div>

</body>
</html>